/* Stylesheet for PageTitle.js */
.page-title-bg {
    width: 100%;
    height: 120px;
    background-color: lightslategray;
    display: flex;
    align-items: center;  /* Centers vertically */
}

.page-title-text {
    color: aliceblue;
}

/* Stylesheet for ContactForm.js */
.submit-button {
    width: 100px;
    height: 40px;
}
