.contact-info-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 75vh;
}

.contact-info-row {
    margin-top: 0;
    align-self: start;
    justify-self: start;
}


@media (max-width: 768px) {
    .contact-info-col {
        margin-bottom: 10px;
    }
}

