.responsive-iframe {
    height: 630px;
    border: none;
  }
  
  @media (max-width: 768px) {
    .responsive-iframe {
      height: 250px;
    }
  }

  .my-modal {
    min-width: 50vw;
    max-height: 90vh;
    width: auto;
  }
  
  .my-modal .modal-body img {
    display: block;
    margin: 0 auto;
    max-height: 80vh;
  }
  