.home-background {
    background-image: url("/public/home/background_image.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 10px 40px;
}

.home-banner-title h1,
.home-banner-title h3 {
    color: white;
}

.home-introduction,.home-find-us {
    padding-top: 20px;
    background-color: white;
    border-radius:8px 8px 0 0;
}

.home-find-us {
    text-align: center;
    background-color: white;
    border-radius: 0 0 8px 8px;
    padding: 50px 0;

}

.home-banner-title {
    text-align: center;
    padding-top: 5%;
    margin-bottom: 8%;
}

.food, .animal{
    height: 300px;
    margin-bottom: 5%;
}
.landscape {
    height: 300px;
}
.animal {
    flex-direction: row-reverse;
}

.home-food,
.home-animal,
.home-landscape {
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 2%;
}

.home-find-us-btn-container {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile Layout */
@media (max-width: 768px) {
    .home-banner-title {
        margin-bottom: 5%;
    }
    
    .food, .animal{
        flex-direction: column;
        height: auto;
        margin-bottom: 5%;
    }
    
    .landscape {
        height: auto;
    }

    .home-food,
    .home-animal,
    .home-landscape {
        height: 200px;
        width: 100%;
        border-radius: 2%;
    }

    .home-find-us-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    /* Adjust font sizes */
    .home-banner-title h1 {
        font-size: 1.8em;
    }

    .home-banner-title h3 {
        font-size: 1.2em;
    }

    .home-introduction h2 {
        font-size: 1.5em;
    }

    .home-find-us h1 {
        font-size: 1.25em;
        text-align: center;
    }
    .home-find-us h4 {
        font-size: 1em;
        text-align: center;
    }

    .home-introduction p {
        font-size: 1em;
    }
    .food-btn-container,
    .animal-btn-container,
    .landscape-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .food-info,
    .animal-info,
    .landscape-info {
        text-align: center;
    }

    .food-info,
    .animal-info,
    .landscape-info h2 {
        margin-top: 2%;
    }
}
