.NavigationBar {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: lightblue;
  border-radius: 50px;
  box-shadow: 7px 7px 5px lightblue;
}

.NavWord {
  width: 120px;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 20px;
  border-radius: 50px;
}

.NavWord:hover {
  background-color: lightblue;
}

.NavActive {
  color: white;
  background-color: darkblue;
  box-shadow: 3px 5px 5px lightblue;
}

.NavNoHighlightWord {
  margin-left: 20px;
  white-space: nowrap;
  font-family: Georgia, serif;
  font-size: 20px;
}

.NavContact {
  display: flex;
}

.NavToggle {
  margin-right: 20px;
}

.NavContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* allow wrapping on smaller screens */
  gap: 10px; /* adds spacing between items */
  align-items: center;
}

.PlaceholderDiv {
  width: 116px; /* Keep same with the NavBrand width + margin */
}
